.util {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 300px;
  height: 100%;
  margin: 0 100px;

  &User {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    font-size: 24px;

    &Info {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: max-content;
      background-color: var(--white-color);
      box-shadow: 0px 0px 7px rgb(0 0 0 / 15%);
      z-index: 999;
      font-family: "Montserrat", sans-serif;

      &Item {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 40px;
        padding: 10px 20px;
        font-size: 14px;
        color: var(--text-color);
        transition: linear 0.2s;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
          color: var(--hover-color);
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
    &Icon {
      color: var(--text-color);
    }
  }
  .loggedIn {
    &:hover > div:last-child {
      display: flex;
      flex-direction: column;
    }
  }

  &Search {
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;

    &:hover {
      transform: rotateZ(-10deg);
    }
  }

  &Cart {
    position: relative;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      & > div:last-child {
        animation: numberChange 0.2s linear;
      }
    }
    &Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
    }
    &Counter {
      position: absolute;
      top: 8px;
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;

      &:hover {
        color: --hover-color;
      }

      &Text {
        transition: transform 0.15s linear;
      }
    }
  }
}
