.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  .title {
    display: inline-block;
    height: 60px;
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &Text {
      font-size: 36px;
      font-weight: bold;
      color: var(--text-color);
    }
  }
  .banner {
    display: block;
    height: 688px;
    margin-bottom: 14px;

    &Img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .product {
    display: grid;
    margin: 6px 14px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 32px;

    &Item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 508px;

      &Image {
        display: block;
        object-fit: cover;
        max-width: 100%;
        margin: auto;
      }

      &Info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &Name {
          color: var(--text-color);
          font-size: 14px;
          padding-top: 20px;
          margin-bottom: 4px;
        }
        &Price {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
    &Failed {
      display: block;
      height: 100%;
      width: 100%;
      margin: auto;
    }
  }
  .expland {
    display: flex;
    align-items: center;
    justify-content: center;

    &Button {
      display: block;
      height: 34px;
      width: 120px;
      padding: 8px;
      margin: 24px 0;
      font-family: "Montserrat", "sans-serif";
      font-weight: 600;
      font-size: 14px;
      border: 2px solid var(--text-color);
      text-align: center;
      cursor: pointer;
    }
  }
}
