.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 44px;
  background-color: var(--white-color);
  font-weight: 500;
  width: max-content;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 5%);
  transform: rotate3d(1, 0, 0, -90deg);
  transition: all linear 0.15s;
  transform-origin: top;
  border-top: 2px solid rgba($color: #000000, $alpha: 0.6);

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    &Dropright {
      position: relative;

      &:hover {
        & > ul {
          transform: rotate3d(0, 0, 0, 0);
        }
        & > div div {
          transform: rotateZ(180deg);
          transition: all linear 0.15s;
        }
      }
    }
    &Link {
      display: flex;
      align-items: center;
      text-align: left;
      height: 100%;
      padding: 0 18px;
      width: 100%;
      color: var(--text-color);
      font-family: "Montserrat", sans-serif;
      font-size: 14px;

      &Icon {
        margin-left: 4px;
      }

      &:hover {
        color: var(--hover-color);
        transition: all linear 0.15s;
      }
    }
  }
  .subMenu {
    position: absolute;
    display: flex;
    top: 0 !important;
    left: 101% !important;
    background-color: var(--white-color);
    font-weight: 500;
    width: max-content;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 5%);
    border-top: 2px solid rgba($color: var(--text-color), $alpha: 0.6);
    transform: rotate3d(0, 1, 0, -90deg);
    transform-origin: left;
  }
}
