.gallery {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  height: 100%;

  .list {
    display: flex;
    flex-direction: column;
    width: 84px;

    &Item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 84px;
      width: 84px;
      margin-bottom: 10px;
      border: 1px solid #f7f7f8;
      cursor: pointer;
      transition: all linear 0.2s;
      &Image {
        display: block;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
      &:hover {
        border-color: #a3a5a7;
      }
    }
  }
  .view {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 1132px;
    width: 1132px;

    &Image {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}
.active {
  border-color: #808284 !important;
}
