@import "../../../scss/variables";
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: $header-height;
  width: 100%;
  z-index: 99;

  &Logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 100px;

    &Link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      cursor: pointer;

      &Img {
        display: block;
        height: 60px;
        padding: 5px 0;
      }
    }
  }
}
