@import "../../../scss/variables";
.memberButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  left: 6%;
  bottom: 10%;
  border: 1px solid $text-color;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba($color: #bad7f8, $alpha: 0.2);
  z-index: 98;

  &Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: rgb(236, 85, 105);
    border-radius: 50%;

    & > i {
      color: $white-color;
    }
  }
}
