$text-color: #000;
$white-color: #fff;
$topbar-height: 30px;
$header-height: 70px;
$hover-color: #f56200;

@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes numberChange {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

